<%= render "shared/header" %> 
<div class="items-search-contents">
<h1 class="items-sell-title">検索結果</h1>
<ul class='item-lists'>
  <% if @items.length !=0 %>
    <% @items.each do |result| %>
      <td>
      <br>
        <li class='search-list'>
          <%= link_to item_path(result) do %>
          <div class='item-img-content'>
            <%= image_tag result.image, class: "search-item-img" %>
            <% if result.record.present? %>
            <div class='sold-out'>
              <span>Sold Out!!</span>
            </div>
            <% end %>
          </div>

        <div class='item-info'>
          <h3 class='item-name'>
            <%= result.name %>
          </h3>
          <div class='item-price'>
            <span><%= result.price %>円<br>
            <%= result.category.name %><br>
            <%= result.sales_status.name %><br>
            <%= result.scheduled_delivery.name %><br>
            <%= result.shipping_fee_status.name %><br>
            <%= result.tags.pluck(:tag_name) %>
            </span>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
  <% else %>
    該当する商品はありません
  <% end %>
</ul>
<br> 
<%= link_to 'トップページへ戻る', root_path %>
</div>